[submodule "plugins/yasnippet"]
	   path = plugins/yasnippet
	   url = https://github.com/capitaomorte/yasnippet.git
[submodule "plugins/auto-complete"]
	   path = plugins/auto-complete
	   url = https://github.com/auto-complete/auto-complete.git
