[user]
    name = Your Name
    email = your-email@example.com

[credential]
    helper = cache --timeout=3600

[push]
    default = simple

[pull]
    rebase = true

[github]
    user = benjamin-james

[core]
    excludesfile = ~/.config/git/ignore
